{{>layouts/header}}
<!--<div>-->
<!--    <script>-->
<!--date = new Date().toLocaleDateString();-->
<!--document.write(date);-->
<!---->
<!--</script>-->
<!--</div>-->
<!-- 구성 -->
<!-- 유통기한 확인 -->
<!--과일 이름 클릭시 update와 delete기능을 추가해야한다.-->
<!--<div class="text-center"id="new1">-->
<h2 id="new">식자재 등록 정보</h2>
<br>
<br>
<br>

<form action="/Recipe" method="get">
    <div class="container text-center">
        <div class="row">

            {{#datalist}}

                <div class="card" style="width: 15rem;">
                    <img src="/images/{{image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{name}}</h5>
                        <p class="menuinfo">{{nameinfo}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">부류 : {{kind}}</li>
                        <li class="list-group-item">구매일자 {{start}}</li>
                        <li class="list-group-item">종료날짜 {{enddate}}</li>
                        <li class="list-group-item">{{othermonth}}개월{{otherdate}}일 남음</li>


                    </ul>
                    <div class="card-body">
                        <a href="/imageshow/{{id}}" class="card-link">식자재 상세보기</a>
                    </div>
                    <div class="card-body">
                        <a href="/listDelete/{{id}}"><li class="list-group-item">삭제</li></a>
                    </div>
                </div>

            {{/datalist}}



        </div>
    </div>
</form>


<!--    <table class="table mt-30">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">순서</th>-->
<!--            <th scope="col">이름</th>-->
<!--            <th scope="col">부류 종류</th>-->
<!--            <th scope="col">유통기한 시작</th>-->
<!--            <th scope="col">유통기한 종료</th>-->
<!--            <th scope="col">남은 유통기한</th>-->

<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
        <!--        {{#datalist}}-->
<!--        <tr>-->
<!--            <th scope="row">{{id}}</th>-->
<!--            <td  type="a"><a href="/Data/{{id}}/edit">{{name}}</td></a>-->
<!--            <td>{{kind}}</td>-->
<!--            <td>{{start}}</td>-->
<!--            <td>{{enddate}}</td>-->
<!--            <td></td>-->
<!--        </tr>-->
        <!--        {{/datalist}}-->

<!--        </tbody>-->
<!--    </table>-->
</div>

<br><br><br><br>

<div class="container">
<form action="/view/create" method="post">
    <table align="center" border=1px bordercolor="gray" class="table">
        <tr align="center" bgcolor="#EAEAEA">
            <th width="350">과일이름</th>
            <th width="350">유통기한 시작</th>
            <th width="350">부류 선택</th>
        </tr>
        <tr>
            <td width="350"><input type="text" class="form-control" name="name"></td>
            <td width="350"><input type="date" class="form-control" name="start"></td>
            <td width="350">
                <select name="kind" class="form-select form-select-sm align-center"
                        aria-label=".form-select-sm example text-center">
                    <option selected>종류를 선택하세요</option>
                    <option value="야채">야채</option>
                    <option value="과일">과일</option>
                    <option value="채소">채소</option>
                    <option value="해당없음">해당없음</option>
                </select>
            </td>
        </tr>
        <tr align="center" bgcolor="#EAEAEA">
            <th width="350">폐기일</th>
            <th width="350">설명</th>
            <th width="350">이미지 삽입</th>
        </tr>
        <tr>
            <td width="350"><input type="date" class="form-control" name="enddate"></td>
            <td width="350"><textarea rows="2" cols="60" class="textarea" style="resize: none" name="nameinfo"></textarea></td>
            <td width="350"><input type="file" class="form-control" name="image"></td>
        </tr>
    </table>

<!--
    <div class="top">
        <div class="top1">
            <div class="top1-1">
                <h2 class="container ttt">과일이름</h2>
            </div>
            <div class="ttt">
                <input type="text" class="form-control" name="name">

            </div>

        </div>
        <div class="top1">
            <div class="top1-11">
                <h2 class="container ttt">유통기한 시작</h2>
            </div>
            <div class="ttt">
                <input type="date" class="form-control" name="start">
            </div>
        </div>
        <div class="top1">
            <div class="top1-1">
                <h2 class="container ttt">부류 선택</h2>
            </div>
            <div class="column container">
                <div class="ttt">
                    <select name="kind" class="form-select form-select-sm align-center"
                            aria-label=".form-select-sm example text-center">
                        <option selected>종류를 선택하세요</option>
                        <option value="야채">야채</option>
                        <option value="과일">과일</option>
                        <option value="채소">채소</option>
                        <option value="해당없음">해당없음</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="top">
        <div class="top1">
            <div class="top1-11">
                <h2 class="container ttt">유통기한 종료</h2>
            </div>
            <div class="ttt">
                <input type="date" class="form-control" name="enddate">
            </div>
        </div>
        <div class="top1">
            <div class="top1-1">
                <h2 class="container ttt">설명</h2>
            </div>
            <div class="ttt">
                <textarea class="textarea" style="resize: none" name="nameinfo"></textarea>

            </div>

        </div>
        <div class="top1">
            <div class="top1-1">
                <h2 class="container ttt">이미지 삽입</h2>
            </div>
            <div class="ttt">
                <input type="file" class="form-control" name="image">

            </div>

        </div>
    </div>
</div>
-->
    <div class="btt">
        <button type="submit" class="btn btn-outline-primary btn-lg">등록</button>
    </div>
</form>

{{>layouts/footer}}