{{>layouts/header}}
<!--<div>-->
<!--    <script>-->
<!--date = new Date().toLocaleDateString();-->
<!--document.write(date);-->
<!---->
<!--</script>-->
<!--</div>-->
<!-- 구성 -->
<!-- 유통기한 확인 -->
<!--과일 이름 클릭시 update와 delete기능을 추가해야한다.-->
<!--<div class="text-center"id="new1">-->
    <h2 id="new">식자재 등록 정보</h2>
<br>
<br>
<br>

<form action="/Recipe" method="get">
        <div class="container">
        <div class="row">

{{#datalist}}

            <div class="col">
                <div class="container">
                    <div class="text-wrap " style="width: 10rem  height:50px; width:100px;">
                        <figure class="figure" >
                            <img src="/images/{{image}}" class="figure-img img-fluid rounded" alt="">
                            <figcaption class="figure-caption"  style= ><h6>이름 : {{name}}</h6><h6 class="menuinfo overflow-hidden" style="width: 10rem;">{{nameinfo}}</h6>
                                <h6>시작 : {{start}}</h6>
                                <h6>종료 : {{enddate}}</h6>
                                <input type="checkbox" name="listcheck" value={{name}},{{nameinfo}},{{start}},{{enddate}}>

                        </figure>
                        <hr width="180">
                    </div>
                </div>
            </div>

{{/datalist}}
            <button type="submit" class="btn btn-primary">제출</button>



        </div>
        </div>
</form>


<!--    <table class="table mt-30">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">순서</th>-->
<!--            <th scope="col">이름</th>-->
<!--            <th scope="col">부류 종류</th>-->
<!--            <th scope="col">유통기한 시작</th>-->
<!--            <th scope="col">유통기한 종료</th>-->
<!--            <th scope="col">남은 유통기한</th>-->

<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        {{#datalist}}-->
<!--        <tr>-->
<!--            <th scope="row">{{id}}</th>-->
<!--            <td  type="a"><a href="/Data/{{id}}/edit">{{name}}</td></a>-->
<!--            <td>{{kind}}</td>-->
<!--            <td>{{start}}</td>-->
<!--            <td>{{enddate}}</td>-->
<!--            <td></td>-->
<!--        </tr>-->
<!--        {{/datalist}}-->

<!--        </tbody>-->
<!--    </table>-->
</div>
<form action="/view/create" method="post">
    <div class="top">
        <div class="top1">
            <div class="top1-1">
                <h2 class="container ttt" >과일이름</h2>
            </div>
            <div class="ttt">
                <input type="text" class="form-control" name="name">

            </div>

        </div>
        <div class="top1">
            <div class="top1-11">
                <h2 class="container ttt">유통기한 시작</h2>
            </div>
            <div class="ttt">
                <input type="date" class="form-control" name="start">
            </div>
        </div>
        <div class="top1">
            <div class="top1-1">
                <h2 class="container ttt">부류 선택</h2>
            </div>
            <div class="column container">
            <div class="ttt">
                <select  name="kind"  class="form-select form-select-sm align-center" aria-label=".form-select-sm example text-center"   >
                    <option selected>종류를 선택하세요</option>
                    <option value="야채">야채</option>
                    <option value="과일">과일</option>
                    <option value="채소">채소</option>
                    <option value="해당없음">해당없음</option>
                </select>
            </div>
        </div>
        </div>
        <div class="top1">
            <div class="top1-11">
                <h2 class="container ttt">유통기한 종료</h2>
            </div>
            <div class="ttt">
                <input type="date" class="form-control" name="enddate">
            </div>
        </div>
        <div class="top1">
            <div class="top1-1">
                <h2 class="container ttt" >설명</h2>
            </div>
            <div class="ttt">
                <input type="text" class="form-control" name="nameinfo">

            </div>

        </div>
        <div class="top1">
            <div class="top1-1">
                <h2 class="container ttt" >이미지 삽입</h2>
            </div>
            <div class="ttt">
                <input type="file" class="form-control" name="image">

            </div>

        </div>
    </div>
    <div class="btt">
        <button type="submit" class="btn btn-outline-primary btn-lg">등록</button>
    </div>
</form>

{{>layouts/footer}}